@attribute [StreamRendering]
@page "/"
@inject GamesClient Client
@inject NavigationManager NavigationManager


<PageTitle>Home</PageTitle>

    <a class="btn btn-primary" role="button" href="/games"><p class="m-0">+</p></a>



@code{


}