<nav class="navbar bg-body-tertiary" data-bs-theme="dark">
    <div class="container"_framework>
        <span class="navbar-brand mb-0 h1"_framework>Game Store</span>
        <a class="btn " role="button" href="/">Home</a>

    </div>
</nav>